<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <!-- <form method="POST" action="/team" -->
   <!-- <h1><%= @team_name %></h1>

   <% @team.each do |member| %>
      <h2><%= member %></h2>
   <% end %> -->

   

 </body>
</html>
